#wrapper.theme-green
  #card
    #settings
      #theme
        #green.option.selected
          .color.circle
          i.fa.fa-check
        #blue.option
          .color.circle
          i.fa.fa-check
        #yellow.option
          .color.circle
          i.fa.fa-check
        #red.option
          .color.circle
          i.fa.fa-check
    #timer.animate-in
      #top-band
        .border
      #bottom-band
        .border
      #center-band.circle
        #start-button.circle
          i.fa.fa-clock-o
          i.fa.fa-play
          i.fa.fa-pause
        #dial-dots-wrapper.circle
          #dial-dots.circle
        #dial-track.circle
          #dial.circle
            #dial-ball.circle
        #band-border.circle
        #base.circle
        #center.circle
          #time 
            #sec 00
            #centi-sec 00
  #inspiration
    h1.label Inspiration &#8594;
    a(class='link' href='https://www.uplabs.com/posts/timer-animation' target='_blank') Timer | By Kingyo